
html , body {
    width: 100%;
    height: 100%;
    background: white;
}
header , footer {
    background-color: black ;
    color: white;
    padding: 25px;
    min-height: 50px;
}

.table {
    text-align: center;
}

header {
    padding: 0;
    width: 100%;
    margin: 0;
}
.navbar h1{
    font-family: 'Noto sans', sans-serif;
    font-size: 2rem;
    font-size: large;
}
main h2{
    justify-content: center;
    right: 500px;

}

.navbar {
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    display: flex;
    padding: 0 24px
    
}

a:hover ::before {
    width: 100%;
    color: antiquewhite;
}

li {
    list-style-type: none;
}
.nav-menu{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.temple-card img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.temple-card{
    border: 1px solid #000;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.temple-container {
    display: flex;
    flex-direction: column;
}

.nav-link{
    transition: 0.7s ease;
    text-decoration: none;
    color: white;
    font-family: 'Noto sans' , sans-serif;
}

.nav-link:hover {
    color: darkorange;
}

footer {
    font-family: 'Noto sans' , sans-serif;
    text-align: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.temple-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;
    background-color:  white;
}

@media screen and (max-width:600px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        display: flex;
        top:55px;
        Left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: black;
        text-align: center;
        transition: 0.3s;

    }


    
    main{
        max-width: 1200px;
        margin: auto;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        Left: 0;
    }


}