
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Noto sans', sans-serif;
    
}

form {
    max-width: 600px;
    font-family: 'Noto sans', sans-serif;
    margin: 2em auto;
    padding: 1em;
    background-color: beige;
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.1);

}

label{
    display: block;
    margin: 0.5px;
}

input, select, textarea {
    width: 100%;
    padding: 0.4em;
}

textarea {
    height: 6em;
}

input[type="submit"]{
    background-color: antiquewhite;
    font-size: large;
    border: 1px solid #000;

}

input[type="submit"]:hover{
   background-color: bisque;

}

footer{
    justify-content: center;
    text-align: center;
}

legend {
    padding: 0 0.5em;
}
fieldset{
    border: 1px solid #000 ;
}
.ratings {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star-container{
    display: flex;
    flex-direction: column-reverse;
}