@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #9FA2B2 ;
    --secondary-color: #DBC2CF;
    --accent1-color: #3C7A89;
    --accent2-color: #EAC435;
    --accent3-color: #345995;
    --accent4-color: #E0CA3C;
    --accent5-color: #2D3047;



    --heading-font:'Noto san',serif ;
    --paragraph-font:'inconsolata',serif ;

    --nav-background-color:#16262E;
    --nav-link-color:#2E4756;
    --nav-hover-link-color:#CAFE48;
    --nav-hover-background-color:#7CB4B8;
  
}

* {
    box-sizing: border-box;
}



body {
    color: var(--accent2-color);
    
}

main{
    background-image: url('images')
}

.weather {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    align-items: center;
}
.data {
    background-color: navy;
    min-width: 90px;
    text-align: center;
    font-family: 'Noto sans', sans-serif;
    display: flex;
    flex-direction: column;
}

h1, footer {
    color: red;
    font-family: 'Noto sans', sans-serif;
    font-size: large;

}

main h1 {
    font-size: 2rem;
}

header, footer {
    background-color: navy ;
    text-align: center;
    padding: 20px;

}

header {
    width: auto;
    padding: 25px;

}
.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header h1{
    background-color: #7CB4B8;
}
.hero  {
    max-width: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}
.hero h1 {
    text-align: center;
}

img:hover {
    filter: grayscale(2);
    transform: scale(1.03);



}

img:hover::after {
    color: #DBC2CF;
}

.icon{
    max-width: 200px;
    justify-content: center;
    margin-left: 530px;
}

@media(max-width:600px) {

    footer{
        text-align: center;
    }

    .hero img {
        max-width: 600px;
    }


    
}