@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}


:root {
    --primary-color: #9FA2B2 ;
    --secondary-color: #DBC2CF;
    --accent1-color: #3C7A89;
    --accent2-color: #EAC435;
    --accent3-color: #345995;
    --accent4-color: #E0CA3C;
    --accent5-color: #2D3047;



    --heading-font:'Noto san',serif ;
    --paragraph-font:'inconsolata',serif ;

    --nav-background-color:#16262E;
    --nav-link-color:#2E4756;
    --nav-hover-link-color:#CAFE48;
    --nav-hover-background-color:#7CB4B8;
  
}

body {
    background-color: var(--accent3-color);
    color: var(--accent2-color);
}

.data {
    background-color: #3C7A89;
    min-width: 200px;
}

h1, footer {
    color: #CAFE48;
    font-family: 'Noto sans', sans-serif;
    font-size: large;

}

header, footer {
    background-color: #3C7A89 ;
    text-align: center;
}

@media(max-width:600px){

    footer{
        text-align: center;
        margin-left: 100px;
    }


    
}