
::-webkit-scrollbar {
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 30%);
}

.show-scroll {
    bottom: 3rem;
}

form {
    max-width: 600px;
    font-family: 'Noto sans', sans-serif;
    margin: 2em auto;
    padding: 1em;
    background-color: hsla(0,0%, 100%, .2);
    box-shadow: 4px 7px 7px rgba(0, 0, 0, 0.1);
    color: #fff;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

}

label{
    display: block;
    margin: 0.5px;
}

input, select, textarea {
    width: 100%;
    padding: 0.4em;
}

textarea {
    height: 6em;
}

input[type="submit"]{
    background-color: darkgray;
    font-size: large;
    border: 1px solid #000;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);

}

input[type="submit"]:hover{
    background-color: bisque;

}


.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: hsla(0, 0%, 100%, .1);
    padding: 6px;
    display: inline-flex;
    color: #fff;
    font-size: large;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    z-index: 1;
    transition: bottom .4s , transform .4s;
}

.scrollup:hover {
    transform: translateY(-.25rem);
}


@media screen and (max-width:768px) {

    .hamburger{
        display: block;
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
        z-index: 1;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        z-index: 1;
    }

    .nav-bar {
        justify-content: center;
    }

    

    
    .nav-menu{
        position: fixed;
        top: 70px;
        left: 0;
        right: -100%;
        padding-block: 4rem;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        background-color: hsla(0,0%,0%, .3);
        transition: top 0.3s;
        backdrop-filter: blur(24px);
        -webkit-backdrop-filter: blur(24px);

    }

    .header {
        justify-content: center;
        margin-right: 300px;
    }

    main{
        max-width: 1200px;
        margin: auto;
    }

    .nav__list {
        text-align: center;
        flex-direction: column;
        row-gap: 2.5rem;
    }
    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        Left: 0;
    }


}
