* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html , body {
    width: 100%;
    height: 100%;
    background: #000;
}
header , footer {
    background-color: transparent;
    color: white;
    padding: 25px;
    min-height: 50px;

}

.button:hover {
    color: beige;
}

.home__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 850px;
    object-fit: cover;
    object-position: center;
}

.home__subtitle {
    font-size: x-large;
    margin-bottom: .5rem;
    color: #fff;
    font-family: 'Noto sans', sans-serif;
}

.home-section {
    margin-top: 100px;
}

.home__title {
    font-size: x-large;
    margin-bottom: 1rem;
    color: #fff;
    font-family: 'Noto sans', sans-serif;
}

.navbar {
    position: relative;
    z-index: 1;
}

div img {
    box-shadow: 4px 7px 7px 0px #000;
    cursor: pointer;
    transition: 400ms;
    border-radius: 4px ;
}

div img:hover {
    transform: scale(1.05);
}

.home_container {
    position: relative;
    justify-content: center;
    padding-top: 3rem;
    row-gap: 3rem;
}

.home_card-img {
    transition : transform .4s;
}

.container-2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.row-2{
      height: 100%;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7)
   
}
.row-2 img{
      width: 100%;
}


.card_content {
      padding: 1rem;
}
  

  
.card_content p {
      margin-bottom: 1rem;
      font-size: .9rem;
      line-height: 1.5rem;
}
  
.content  {
      display: inline-flex;
      color: #fff;
      font-family: 'Noto sans' , sans-serif;
}

.content img {
    position: relative;
    width: 400px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7)


}

.home_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    height: 900px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,
                hsla(0,0%,0%,0)50%,
                hsl(0,0%,0%) 125%);
}

.home__card:hover .home-card-img {
    transform: scale(1.4);
}

.home__title  {
    text-align: center;
    font-family: 'Noto sans', sans-serif;

}
.home_card_title {
    bottom: 1rem;
    z-index: 1;
    margin-left: 30px;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: 'Noto sans', sans-serif;
}

table {
    top: 100px;
    display: grid;
    text-align: center;
    width: 70%;
    margin-left: 200px;
    font-weight: bold;
    justify-content: space-between;
    width: 500px;
    font-family: 'Noto sans' , sans-serif;
}

.table h2 {
    text-align: center;
    margin-left: 120px;
    margin-bottom: 50px;
}


.table img {
    align-items: center;
    margin-left: 90px;
    width: 300px;

}

.button {
    background-color: hsla(0,0%, 100%, .2);
    padding: 1.25rem;
    text-decoration: none;
    color: white;
    display: inline-flex;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    font-family: 'Noto sans', sans-serif;
    margin-bottom: 2rem;
}

button i {
    font-size: 1.25em;
    transition: transform .4s;
    font-weight: initial;
}


.home_card {
    overflow: hidden;
}

.home__cards {
    margin-top: 150px;
    display: flex;
    gap: 20px;

}

footer{
    padding-block: 2.5rem;
    text-align: center;
    display: grid;
}

.footer__content {
    row-gap: 3.5rem;
}

.footer__logo {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: large;
    font-family: 'Noto sans', sans-serif;
    margin-bottom: 1rem;
}

.footer__data {
    grid-template-columns: repeat(2,max-content);
    gap: 2.5rem 3.5rem;
    text-align: center;
}

.footer_title {
    margin-bottom: 5rem;
}

.footer__links {
    display: grid;
    row-gap: .75rem;

}

.footer__socials a {
    margin-top: 2rem;
}
.footer__links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Noto sans', sans-serif;

}

.home_section {
    justify-content: center ;
}

.home_container {
    justify-content: center;
}


.home__description {
    margin-bottom: 2rem;
    color: white;
}

.home__data {

    text-align: center;
}


.navbar h1{
    font-family: 'Noto sans', sans-serif;
    font-size: 2rem;
    font-size: large;
    transition: 0.7s ease;
}



.nav-link{
    transition: 0.7s ease;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: 'Noto sans' , sans-serif;
}


.nav-link a {
    text-decoration: none;
}

.nav-link:hover {
    color: darkorange;
}

.nav-menu{
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbar {
    justify-content: space-between;
    min-height: 70px;
    align-items: center;
    display: flex;
    padding: 0 24px;
    list-style-type: none;
    
}



li {
    list-style-type: none;
}

a:hover ::before {
    width: 100%;
    color: antiquewhite;
}

.section {
    padding-block: 5rem 1rem;
}

.footer__socials{
    color: #fff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;
    background-color:  white;
    z-index: 1;
}


